<footer id="footer">
    <div class="footer-contents">
        <div id="logo">
            <h1>DZone</h1>
        </div>
         <ul>
             <li><a href="#">Services</a></li>
             <li><a href="#">FAQs</a></li>
             <li><a href="#">Accounts</a></li>
             <li><a href="#">Collection</a></li>
         </ul>
    </div>
    <span id="footer-span"></span>
    <div class="social-icons">
        <ul>
            <li><i class="fab fa-facebook"></i></li>
            <li><i class="fab fa-twitter"></i></li>
            <li><i class="fab fa-instagram"></i></li>
            <li><i class="fab fa-pinterest"></i></li>
        </ul>
    </div>
    <p id="copyright">@copyright.All rights reserved.</p>
</footer>