<div class="container-fliud">
    <header>
        <div class="logo">
            <h1>DarkZone</h1>
        </div>
        <nav id="nav">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/movies">Movies</a></li>
                <li><a href="/accounts">Accounts</a></li>
            </ul>
        </nav>
        <i class="fas fa-bars" id="toggle"></i>
    </header>
</div>