<!DOCTYPE html>
<html lang="en">

<!-- include head -->
<%- include('partials/head') %>
<body>
   <div class="page-contents">

    <!-- include navabar -->
    <%- include('partials/navbar') %>

   <div class="container">

        <!-- search bar -->
        <form action="" id="form">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Search...">
                <i class="fas fa-search"></i>
            </div>
        </form>
        <!-- end the search bar -->

        <!-- first hero container -->
        <div id="first-hero">
            <div class="firsthero-text">
                <h1>Welcome to the Dark Zone</h1>
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
                    Quod ea repudiandae beatae illo fugit distinctio quo atque id? Nihil, voluptates.
                </p>
                <button class="btn btn-primary btn-start">Get Started</button>
            </div>

            <div class="hero-video">
               <img src="/img/soloman.jpg" alt="movie">
            </div>
        </div>

        <!-- end of first hero container -->
</div>

<div class="second-container">
    <!-- second hero container -->

    <div id="second-hero">

        <div class="hero-video">
            <img src="/img/murder.jpg" alt="movie">
         </div>

        <div class="secondhero-text">
            <h1>Get the latest action movies</h1>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
                Quod ea repudiandae beatae illo fugit distinctio quo atque id? Nihil, voluptates.
            </p>
            <button class="btn btn-danger btn-download">Download</button>
        </div>
    </div>

    <!-- end of second hero container -->
</div>

<!-- movie cards -->
<div class="container mt-5">

    <h3 class="text-center">Latest Movies</h3>
    <span id="span"></span>
    <!-- first row -->
    <div class="row mt-5">
        <div class="col">
            <div class="card">
                <img src="/img/movie1.jpg" class="card-img-top" alt="">
                <div class="card-body">
                    <h3 class="card-title">Action</h3>
                    <a href="path_to_file" class="btn btn-danger" download="proposed_file_name">Download</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="/img/movie2.jpg" class="card-img-top" alt="">
                <div class="card-body">
                    <h3 class="card-title">Action</h3>
                    <a href="path_to_file" class="btn btn-danger" download="proposed_file_name">Download</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="/img/movie3.jpg" class="card-img-top" alt="">
                <div class="card-body">
                    <h3 class="card-title">Action</h3>
                    <a href="path_to_file" class="btn btn-danger" download="proposed_file_name">Download</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="/img/movie4.jpg" class="card-img-top" alt="">
                <div class="card-body">
                    <h3 class="card-title">Action</h3>
                    <a href="path_to_file" class="btn btn-danger" download="proposed_file_name">Download</a>
                </div>
            </div>
        </div>
    </div>

    <!-- second row -->
    <div class="row mt-5">
        <div class="col">
            <div class="card">
                <img src="/img/movie5.jpg" class="card-img-top" alt="">
                <div class="card-body">
                    <h3 class="card-title">Action</h3>
                    <a href="path_to_file" class="btn btn-danger" download="proposed_file_name">Download</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="/img/movie6.jpg" class="card-img-top" alt="">
                <div class="card-body">
                    <h3 class="card-title">Action</h3>
                    <a href="path_to_file" class="btn btn-danger" download="proposed_file_name">Download</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="/img/movie7.jpg" class="card-img-top" alt="">
                <div class="card-body">
                    <h3 class="card-title">Action</h3>
                    <a href="path_to_file" class="btn btn-danger" download="proposed_file_name">Download</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="/img/movie8.jpg" class="card-img-top" alt="">
                <div class="card-body">
                    <h3 class="card-title">Action</h3>
                    <a href="path_to_file" class="btn btn-danger" download="proposed_file_name">Download</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- include footer -->
<%- include('partials/footer') %>
   </div>

   <script src="/js/main.js"></script>
</body>

</html>