* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    background-image: url('/img/dark.webp');
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff !important;
}

.container {
    display: flex;
    width: 100%;
    flex-direction: column;
}

/* header-styles */

header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background: #000;
}

.logo {
    width: 30%;
    color: #e2dcdc;
}

nav {
    display: flex;
    width: 50%;
    height: auto;
    align-items: center;
}

nav ul {
    display: flex;
    width: 100%;
}

nav ul li {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    color: #e2dcdc;
}

nav ul li a {
    display: flex;
    color: #e2dcdc;
    text-decoration: none;
}

nav ul li a:hover {
    color: #e2dcdc;
    text-decoration: none;
}

/* form styles */

#form{
    display: flex;
    width: 100%;
}

.form-group{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.form-control{
    width: 100%;
    padding: 20px;
    height: auto;
}

.form-group i{
    border: 1px solid #c0baba;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 23px;
    height: auto;
    cursor: pointer;
}

/* end form styles */

/* hero section styles */
#first-hero{
    display: flex;
    margin-top: 150px;
    width: 100%;
    height: auto;
    justify-content: space-between;
    align-items: center;
}

.second-container{
    display: flex;
    margin-top: 150px;
}

#second-hero{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
    align-items: center;
}

.firsthero-text{
    width: 60%;
    display: flex;
    flex-direction: column;
    height: auto;
}

.secondhero-text{
    width: 50%;
    display: flex;
    flex-direction: column;
    height: auto;
    margin-left: 50px;
}

.firsthero-text h1{
    width: 100%;
}

.firsthero-text p{
    width: 90%;
    line-height: 1.5;
}

.btn-start{
    width: 40%;
    padding: 20px;
}

.btn-download{
    width: 30%;
    padding: 20px;
}

.hero-video{
    margin-left: 80px;
}

#span{
    margin: auto;
    border: 1px solid #ffff;
    margin-top: 20px;
    width: 30%;
}

/* end of hero section styles */


/* footer styles */
#footer{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: auto;
    margin-top: 100px;
}

.footer-contents{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-left: 30px;
    margin-right: 30px;

}

.logo{
    margin-left: 80px;
    width: 20%;
}


.footer-contents ul{
    margin-right: 80px;
    display: flex;
    width: 50%;
}

.footer-contents ul li{
    display: flex;
    width: 100%;
}

.social-icons{
    display: flex;
    width: 100%;
    margin: auto;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.social-icons ul{
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.social-icons ul li,
.social-icons ul li i{
    display: flex;
    margin: auto;
    padding: 10px;
}
/* end of footer styles */